<main class="showcase">
	<article class="product">
		<picture class="product--image">
			<source media="(min-width: 600px)" srcset="/assets/image-product-desktop.jpg">
			<img [src]="product.image" alt="Gabrielle Essence Eau De Parfum">
		</picture>

		<div class="product--content">
			<p class="product--category">{{ product.category }}</p>

			<h1 class="product--title">{{ product.title }}</h1>

			<p class="product--description">{{ product.description }}</p>

			<p class="product--price" attr.strike="{{product.strikePrice}}">{{ product.price }}</p>

			<button class="product--button" data-icon="shopping-cart">Add to Cart</button>
		</div>
	</article>
</main>